* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 1rem;
  padding: 0;
}

main {
  margin-block: 1rem;

  section {
    margin-block: 1rem;
    border: solid 1px #e0e0e0;
    padding: 1rem;

    output {
      display: block;
      margin-block: 1rem;
      font-weight: bold;
    }
  }
}

.c1 {
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
  padding: 1rem;
}
